doctype
html
    head
        title= title
    body
        h1= title
        p This is an Express.JS App with a Jade View Engine
        #[a(href='/api/countries') Ten Most Populated Countries]
        p
        #[a(href='/api/capitals') Canadian Capitals]
